@layer components {
  .post-list .post-card {
    min-width: 800px;
    @apply flex flex-row gap-5 px-4 py-2 mx-auto bg-slate-200 my-6 w-3/4 h-44 font-bold 
     justify-between items-center rounded-lg shadow-md transition-transform duration-300 cursor-pointer;
  }

  .post-list .post-card:hover {
    @apply scale-105;
  }

  .post-list .card-author {
    @apply font-bold text-desc w-20 text-xl;
  }

  .post-list .card-title {
    @apply text-2xl font-semibold mb-2 overflow-hidden text-ellipsis whitespace-nowrap;
  }

  .post-list .card-description {
    max-width: 700px;
    @apply overflow-hidden text-ellipsis  basis-8/12;
  }

  .post-list .card-content {
    display: -webkit-box;
    line-height: 16px;
    -webkit-line-clamp: 3; /* 표시하고자 하는 라인 수 */
    -webkit-box-orient: vertical;
    line-height: normal;

    @apply overflow-hidden text-ellipsis opacity-60 mt-4;
  }
  .post-list .thumbnail {
    min-width: 150px;
    @apply h-full;
  }
  .post-list .thumbnail img {
    @apply w-auto h-full;
  }

  .card-date {
    @apply text-xs text-sub  basis-1/12;
  }
  /* gridCard */

  .post-grid .post-card {
    @apply grid grid-rows-6 grid-cols-2 h-60 bg-slate-200 px-2 py-4  rounded-lg shadow-md transition-transform duration-300 cursor-pointer;
  }

  .post-grid .post-card:hover {
    @apply scale-105;
  }

  .post-grid .card-author {
    @apply text-desc text-lg;
  }

  .post-grid .thumbnail {
    @apply row-start-1 row-end-7 w-4/5;
  }

  .post-grid .thumbnail img {
    @apply object-cover h-full;
  }

  .post-grid .card-title {
    @apply text-xl font-semibold overflow-hidden text-ellipsis whitespace-nowrap mb-0;
  }

  .post-grid .card-description {
    @apply inline-block row-start-3 row-end-7 col-start-2;
  }

  .post-grid .card-content {
    display: -webkit-box;
    line-height: 16px;
    -webkit-line-clamp: 4; /* 표시하고자 하는 라인 수 */
    -webkit-box-orient: vertical;
    @apply overflow-hidden text-ellipsis text-sm opacity-60 mt-5;
  }

  .card-tags {
    @apply flex flex-row gap-2 overflow-hidden text-ellipsis whitespace-nowrap;
  }

  .card-tags .tag-span {
    @apply border-none text-xs flex justify-center items-center bg-primary text-white p-1 rounded;
  }
}
