/* signin */

.user-header {
  min-width: 400px;
  @apply flex  items-center p-8 py-12 text-2xl  text-primary;
}

.signin-form {
  width: 600px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  @apply flex flex-col m-auto py-4 px-8  border-solid;
}

.signin-form .title {
  @apply text-4xl text-center text-primary mb-12;
}

.signin-container {
  @apply flex flex-col relative;
}

.signin-container input {
  @apply h-14 pl-4;
}

.signin-email-icon,
.signin-pwd-icon {
  filter: invert(100%);
  top: 16px;
  @apply flex justify-center items-center absolute right-5 text-2xl border w-6 h-6 rounded-full bg-gray-200 cursor-pointer;
}

.signin-pwd-icon {
  top: 70px;
}

.signin-container input:focus {
  @apply outline-primary;
}

.signin-container input:first-child {
  border-radius: 10px 10px 0 0;
  margin-bottom: 1px;
}

.signin-container input:nth-child(3) {
  border-radius: 0 0 10px 10px;
}

.signin-btn {
  @apply mt-10 h-12 text-2xl bg-primary rounded-md text-white;
}

.signin-container::after {
  content: '';
  height: 1px;
  @apply bg-black  w-72 my-2 mx-auto opacity-20;
}

.user-link {
  @apply h-12 text-2xl bg-sub rounded-md text-white;
}
