@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './post.css';
@import './postcard.css';
@import 'tailwindcss/utilities';

@layer base {
  html {
    font-family: GmarketSansMedium, system-ui, sans-serif;
    background: #e6e9f0;
  }
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
