@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: GmarketSansMedium, system-ui, sans-serif;
    background: #e6e9f0;
  }
}

@layer components {
  .post {
    @apply mt-8 ml-auto mr-auto w-3/4;
  }
  .post-title {
    @apply text-5xl font-bold mb-8;
  }
  .post-buttons {
    @apply flex justify-end -mb-6 gap-4 text-2xl text-sub;
  }
  .post-description {
    @apply text-sub mb-8 block text-xl;
  }
  .post-content {
    @apply text-2xl;
  }

  /* signin */

  .user-nav {
    min-width: 400px;
    @apply flex  items-center p-8 py-16 text-2xl  text-primary;
  }

  .signin-form {
    width: 600px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    @apply flex flex-col m-auto py-4 px-8  border-solid h-96;
  }

  .signin-form .title {
    @apply text-4xl text-center text-primary mb-12;
  }

  .signin-container {
    @apply flex flex-col;
  }

  .signin-container input {
    @apply h-14 pl-4;
  }
  .signin-container input:focus {
    @apply outline-primary;
  }

  .signin-container input:first-child {
    border-radius: 10px 10px 0 0;
    margin-bottom: 1px;
  }

  .signin-container input:nth-child(2) {
    border-radius: 0 0 10px 10px;
  }

  .signin-btn {
    @apply mt-10 h-12 text-2xl bg-primary rounded-md text-white;
  }

  .user-link {
    @apply mt-3 text-sub;
  }

  /* signup */
  .signup-form {
    @apply flex flex-col m-auto py-4 px-8 max-w-2xl;
  }
  .signup-form .title {
    @apply text-4xl text-center text-primary mb-12;
  }

  .signup-container {
    @apply flex flex-col;
  }

  .signup-container label {
    @apply text-sm font-semibold mb-2;
  }

  .signup-container input {
    @apply h-12 pl-4;
  }
  .signup-container input:focus {
    @apply outline-none;
  }

  .signup-btn {
    @apply mt-2 h-12 text-2xl bg-primary rounded-md text-white;
  }

  .errorMsg {
    @apply opacity-100 text-red-600 text-sm;
  }
}
